<div class="card">
    <h1>Connexion au robot</h1>
    <p>Mode sélectionné : <strong>Simulation</strong></p>

    <button class="btn" (click)="startMission()">Lancer la mission</button>
    <button class="btn" (click)="stopMission()">Arrêter la mission</button>
    <button class="btn secondary" (click)="back()">⬅ Revenir au choix du mode</button>

    @if (message) {
    <div class="message-box">{{ message }}</div> }
</div>

<div class="status-card">
    <h1>État des robots</h1>
    <app-robot-status></app-robot-status>
</div>

<div class="map-card">
    <h1>Carte d'exploration</h1>
    <app-map></app-map>
</div>