x-ros-env: &ros_env
  ROS_DISTRO: humble
  ROS_DOMAIN_ID: "66"
  RMW_IMPLEMENTATION: rmw_fastrtps_cpp
  DISPLAY: "${DISPLAY}"
  QT_X11_NO_MITSHM: "1"
  UID: 1000
  GID: 1000
  user: "${UID}:${GID}"
  NODE_ENV: development

services:

  ros:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.ros
    image: inf3995-106-ros
    network_mode: host
    environment:
      <<: *ros_env    
    working_dir: /ws
    volumes:
      - ./project_ws:/ws
      - /tmp/.X11-unix:/tmp/.X11-unix 
      - build_ws:/ws/build
      - install_ws:/ws/install
      - log_ws:/ws/log
    entrypoint: ["/docker/entrypoint.robot.sh"]
    tty: true
    stdin_open: true

  server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.server
    image: myproj/server:latest
    container_name: api-server
    depends_on:
      - ros
    environment:
      <<: *ros_env   
      ROS_DISTRO: humble
      ROS_DOMAIN_ID: "66"
      RMW_IMPLEMENTATION: rmw_fastrtps_cpp
    network_mode: host
    working_dir: /server
    volumes:
      - ./server:/server
      - ./project_ws:/project_ws
      - ./common:/common
      - /server/node_modules
    command: >
      bash -lc "
        source /opt/ros/${ROS_DISTRO}/setup.bash;
        cd /project_ws;
        colcon build 
        source install/setup.bash;
        cd ../server;
        if [ ! -d node_modules ]; then (npm ci || npm i); fi;
        npm rebuild rclnodejs;
        npm start
      "

  client:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.client
    image: inf3995-106-client
    container_name: web-client
    network_mode: host
    environment:
      <<: *ros_env   
      PORT: "4200"    
      HOST: "0.0.0.0"                 
      HOKIDAR_USEPOLLING: "true"
    working_dir: /app
    volumes:
      - ./client:/app
      - ./common:/common
      - /app/node_modules
    command: ["npm","start","--","--host","0.0.0.0","--port","4200"]


volumes:
  build_ws:
  install_ws:
  log_ws:
