services:

  client:
    image: inf3995-106-client
    build:
      context: .
      dockerfile: ./docker/Dockerfile.client
    network_mode: host            
    environment:
      - PORT=4200
      - CHOKIDAR_USEPOLLING=true  
    working_dir: /app
    volumes:
      - ./client:/app
      - ./common:/common          
      - /app/node_modules         
    command: ["npm", "start"]
    profiles: ["client"]


  gateway:
    image: inf3995-106-gateway
    build:
      context: .
      dockerfile: ./docker/Dockerfile.gateway
    network_mode: host
    working_dir: /srv/app/gateways
    volumes:
      - ./server/app/gateways:/srv/app/gateways
      - ./common:/srv/app/common
      - /srv/app/gateways/node_modules
    command: ["/bin/bash","-lc","[ -f package.json ] && (npm ci || npm i) || true; node ros.gateway.js"]
    profiles: ["gateway"]


  ros:
    image: inf3995-106-ros
    build:
      context: .
      dockerfile: ./docker/Dockerfile.ros
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    working_dir: /ws
    volumes:
      - ./projet_ws:/ws
      - /ws/build
      - /ws/install
      - /ws/log
    command: >
      bash -lc "
      set -e
      source /opt/ros/humble/setup.bash &&
      cd /ws &&
      colcon build &&
      source install/setup.bash &&
      ros2 run robot_exploration identify_service
      "
    profiles: ["ros"]
