<div class="page-wrap">
  <div class="card">
    <h2 class="title">Connexion au robot</h2>

    <div class="mode-selection">
      <label>Choisir le mode :</label>

      <div class="button-group">
        <button
          type="button"
          class="btn"
          [class.active]="selectedMode === 'simulation'"
          (click)="selectMode('simulation')"
        >
          Simulation
        </button>

        <button
          type="button"
          class="btn"
          [class.active]="selectedMode === 'real'"
          (click)="selectMode('real')"
        >
          Réel
        </button>
      </div>

      <p *ngIf="selectedMode">
        Mode sélectionné :
        <strong>{{ selectedMode === 'real' ? 'Réel' : 'Simulation' }}</strong>
      </p>

      <button 
        class="btn-continue" 
        (click)="onModeSubmit()" 
        [disabled]="!selectedMode"
      >
        Continuer
      </button>
    </div>
  </div>
</div>
