.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  border: 2px solid #444;
  image-rendering: pixelated;

  width: 100%;
  height: auto;
  max-height: 500px;
}
