<div class="map-container">
  <canvas #mapCanvas id="mapCanvas" (click)="onCanvasClick($event)"></canvas>
</div>
<div class="map-info" *ngIf="selectedPoint">
  <p>Cell: ({{ selectedPoint.cell.x }}, {{ selectedPoint.cell.y }})</p>
  <p>World: x={{ selectedPoint.world.x | number:'1.2-2' }} m, y={{ selectedPoint.world.y | number:'1.2-2' }} m</p>
  <button id="add-point" (click)="addPoint()">Ajouter au trajet</button>
</div>
<div class="map-info" *ngIf="originWorld">
  <p>Origin (world): x={{ originWorld.x | number:'1.2-2' }} m, y={{ originWorld.y | number:'1.2-2' }} m</p>
</div>
<div class="map-info" *ngIf="pointList.length">
  <p>Points ajoutés:</p>
  <ul>
    <li *ngFor="let point of pointList; let idx = index">
      #{{ idx + 1 }} - Cell ({{ point.cell.x }}, {{ point.cell.y }}), World x={{ point.world.x | number:'1.2-2' }} m, y={{ point.world.y | number:'1.2-2' }} m
      <button type="button" (click)="removePoint(idx)">Retirer</button>
    </li>
  </ul>
  <button type="button" (click)="sendCoords()">Envoyer les coordonnées</button>
  <button type="button" (click)="cancelNav()">Annuler la navigation</button>
</div>
