<div class="page-container">

  <h2>📝 Édition du fichier mission_logic.py</h2>

  <div class="controls">
    <button (click)="loadCode()" [disabled]="loading || saving">
      🔄 Recharger
    </button>

    <button (click)="saveCode()" [disabled]="loading || saving">
      💾 Sauvegarder
    </button>
  </div>

  <!-- Messages -->
   @if (loading) {
       <div class="info">Chargement...</div>
   } @else if (saving) {
       <div class="info">Sauvegarde en cours...</div>
   } @else if (errorMessage) {
       <div class="error">{{ errorMessage }}</div>
   } @else if (successMessage) {
       <div class="success">{{ successMessage }}</div>
   }

  <!-- Éditeur de code -->
  <app-code-editor
    class="editor"
    [content]="code"
    language="python"
    (contentChange)="onCodeChanged($event)">
  </app-code-editor>

</div>
