<div class="page-wrap">
  <div class="card" role="region" aria-labelledby="robot-login-title">
    <h1 id="robot-login-title" class="title">Connexion au robot</h1>
    <section id="server-message" class="justified">
        <p>{{ message.getValue() }}</p>
    </section>
    @if (!selectedMode) {
      <form
        [formGroup]="modeForm"
        (ngSubmit)="onModeSubmit()"
        novalidate
        class="mode-form">
        
        <label class="toggle-label">Mode</label>

        <div class="toggle-wrap">
          <span class="mode-label">Simulation</span>

          <label class="switch">
            <input
              id="modeToggle"
              type="checkbox"
              formControlName="modeToggle"
            />
            <span class="slider round"></span>
          </label>

          <span class="mode-label">Réel</span>
        </div>

        <div class="helper">
          Mode sélectionné :
          <strong>{{ modeForm.value.modeToggle ? 'Réel' : 'Simulation' }}</strong>
        </div>

        <button class="btn" type="submit">
          Continuer
        </button>
        
      </form>
      <button class="btn" (click)="onIdentify()">Identifier le robot</button>
    }

    <!-- 🔹 Formulaire réel -->
    @if (selectedMode === 'reel') {
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        novalidate>
        
        <div class="form-group">
          <label for="robotName">Nom du robot</label>
          <input
            id="robotName"
            type="text"
            formControlName="robotName"
            [class.invalid]="submitted && form.controls['robotName'].invalid"
            placeholder="Ex: lm1132"
            required
            aria-required="true"
          />
          @if (submitted && form.controls['robotName'].hasError('required')) {
            <small class="error">
              Le nom du robot est requis.
            </small>
          }
        </div>

        <div class="form-group">
          <label for="teamName">Nom de l’équipe</label>
          <input
            id="teamName"
            type="text"
            formControlName="teamName"
            [class.invalid]="submitted && form.controls['teamName'].invalid"
            placeholder="Ex: 206"
            required
            aria-required="true"
          />
          @if (submitted && form.controls['teamName'].hasError('required')) {
            <small class="error">
              Le nom de l’équipe est requis.
            </small>
          }
        </div>

        <button class="btn" type="submit" [disabled]="loading || form.invalid">
          {{ loading ? 'Vérification' : 'Connexion' }}
        </button>
      </form>
    }

    @if (error) {
      <p class="error">{{ error }}</p>
    }
  </div>
</div>
