<div class="card">
    <h1>Connexion au robot</h1>
    <p>Mode sélectionné : <strong>Réel</strong></p>

    <button class="btn" (click)="onIdentify(1)">Identifier le premier robot</button>
    <button class="btn" (click)="onIdentify(2)">Identifier le deuxième robot</button>
    <button class="btn" (click)="startMission()">Lancer la mission</button>
    <button class="btn" (click)="stopMission()">Terminer la mission</button>
    <button class="btn secondary" (click)="back()">⬅ Revenir au choix du mode</button>

    @if (message) {
    <div class="message-box">{{ message }}</div> }
</div>

<div class="status-card">
    <h1>État des robots</h1>
    <app-robot-status></app-robot-status>
</div>

<div class="map-card">
    <h1>Carte d'exploration</h1>
    <div class="robot-selector">
        <span>Robot sélectionné :</span>
        <button class="btn" [disabled]="selectedRobotId === 'limo1'" (click)="setSelectedRobot('limo1')">limo1</button>
        <button class="btn" [disabled]="selectedRobotId === 'limo2'" (click)="setSelectedRobot('limo2')">limo2</button>
    </div>
    @if (selectedRobotId === 'limo1') {
        <app-map robotId="limo1"></app-map>
    } @else {
        <app-map robotId="limo2"></app-map>
    }
</div>
